<div>
    Search: <input ng-model="query">
    Sort by:
    <select ng-model="orderUser">
        <option value="username">Username</option>
        <option value="adverts">Adverts</option>             
    </select>
</div>
<ul class="users-list">
	<li class="user-item" ng-repeat="user in users | filter:query | orderBy:orderUser" class="thumbnail">
		<a href="#/admin/users/{{user.id}}">{{user.username}}</a>
		<p><strong>User Role:</strong> {{user.role}}, <strong>User Id:</strong> {{user.id}}, <strong>Full name:</strong> {{user.fullname}} <a href="#/admin/users/{{user.id}}"><strong>AuthCode:</strong> {{user.authCode}}</a></p>
        <ul><strong>Adverts:</strong>
			<li class="adverts-item" ng-repeat="advert in user.adverts | filter:query | orderBy:orderUser">
				<strong>Id:</strong> {{advert.id}},  <a href="#/admin/adverts/{{advert.id}}"><strong>Title:</strong> {{advert.headline}}</a>, <strong>Town:</strong> {{advert.town}}, <strong>Post date:</strong> {{advert.postDate}}
			</li>
        </ul>
	</li>
</ul>