<div class="advert-item" class="thumbnail">
    <p><a href="#/admin/adverts">Back to all adverts</a></p>
	<a href="#/admin/adverts/{{advert.id}}">{{advert.headline}}</a>
	<p><strong>Advert Id:</strong>{{advert.id}}</p>
    <p><strong>Town:</strong> {{advert.town}}</p>
    <p><strong>Address:</strong> {{advert.address}}</p>
    <p><strong>Posted on:</strong> {{advert.postDate}}</p>
	<p><strong>Advert info:</strong> {{advert.text}}</p>
    <p><strong>Tags:</strong>
		<span class="tags-item" ng-repeat="tag in advert.tags">
			{{tag}}, 
		</span>
    </p>
    <p><strong>Images:</strong>
        <div>   
		<span class="pictures-item" ng-repeat="picture in advert.pictures">
            <a href="#/admin/adverts/{{advert.id}}" class="thumb"><img ng-src="{{picture}}"></a>
				
		</span>
        </div>
    </p>
	<p><strong>Price:</strong> {{advert.price}} EUR</p>
</div>