<div class="user-item" class="thumbnail">
    <p><a href="#/admin/users">Back to users list</a></p>
	<a href="#/admin/users/{{user.id}}">{{user.username}}</a>
	<p><strong>User Id:</strong>{{user.id}}</p>
    <p><strong>Username:</strong> {{user.username}}</p>
    <p><strong>Full name:</strong> {{user.fullName}}</p>
    <p><strong>Auth. Code:</strong> {{user.authCode}}</p>
	<p><strong>User role:</strong> {{user.role}}</p>
    <ul><strong>Adverts:</strong>
		<li class="advert-item" ng-repeat="advert in user.adverts">
			<strong>Id:</strong> {{advert.id}},  <a href="#/admin/adverts/{{advert.id}}"><strong>Title:</strong> {{advert.headline}}</a>, <strong>Town:</strong> {{advert.town}}, <strong>Post date:</strong> {{advert.postDate}}
		</li>
    </ul>
</div>